<div class="gallery-box">
  <ng-container *ngFor="let image of images">
    <div class="gb-image-box" [ngClass]="{'rellax': image['rellax'] != undefined }"
      [attr.data-rellax-speed]="(image['rellax'] != undefined && image['rellax']['speed'] != undefined) ? image['rellax']['speed'] : null">
      <div class="gb-ib-image">
        <div [style.background-image]="setBgImage(image.img)"></div>
      </div>
      <ng-container *ngIf="image['title'] != undefined">
        <div class="gb-ib-title">
          <p [ngStyle]="{'color': (image['color'] != undefined) ? image['color'] : null}"
            [innerHTML]="getFormat(image.title)"></p>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
