<div class="gallery-box" [ngClass]="{'gb-with-steps': gallery['steps'] != undefined && gallery['steps'] == true }">
  <ng-container *ngFor="let image of gallery['images']; let index = index">
    <div [ngClass]="['gb-image-box', rellaxClassName]"
      [attr.data-rellax-speed]="(gallery?.rellax && image['rellax'] != undefined && image['rellax']['speed'] != undefined) ? image['rellax']['speed'] : null"
      [attr.data-step-number]="(gallery?.steps) ? (index + 1) : null">
      <div class="gb-ib-image">
        <div [style.background-image]="setBgImage(image.img)"></div>
      </div>
      <ng-container *ngIf="image['text'] != undefined">
        <div class="gb-ib-title">
          <p [ngStyle]="{
            'color': (image['color'] != undefined) ? image['color'] : null, 
            'text-align': (image['textAlign'] != undefined) ? image['textAlign'] : null,
            'font-size': (image['fontSize'] != undefined) ? image['fontSize'] : null,
            'font-weight': (image['fontWeight'] != undefined) ? image['fontWeight'] : null}"
            [innerHTML]="getFormat(image.text)"></p>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
