<div
  #galleryElement
  class="gallery-box"
  [ngClass]="{ 'gb-with-steps': gallery.steps === true }"
  [style.transform]="isMobile ? 'translateX(-' + (currentSlider * sliderWidth) + 'px)' : null"
  (pointerdown)="onPointerDown($event)"
  (pointerup)="onPointerUp($event)"
>
  @for (image of gallery.images; track $index; let index = $index) {
    <div
      class="gb-image-box"
      [attr.data-rellax-speed]="gallery.rellax && image.rellax?.speed !== undefined ? image.rellax?.speed : null"
      [attr.data-step-number]="gallery.steps ? index + 1 : null"
      (click)="onImageClick(index)"
    >
      @if (image.img; as img) {
        <div class="gb-ib-image">
          <div [appLazyBg]="img.path"></div>
          @if (checkVisibility(img)) {
            <div class="gb-ib-text">
              <span>{{ img.text }}</span>
            </div>
          }
        </div>
      }
      @if (checkVisibility(image.title)) {
        <div class="gb-ib-title">
          <p
            [style.color]="image.title?.color !== undefined ? image.title?.color : null"
            [innerHTML]="getFormat(image.title!.text)"
          ></p>
        </div>
      }
    </div>
  }
</div>
