<div class="smartphone-shape">
  <img class="img-sheep" src="img/xxss_solo_sheep.svg" alt="" />
  <div class="ss-box">
    <div class="ss-b-header">
      <div class="ss-b-h-avatar">
        <div></div>
      </div>
      <div class="ss-b-h-user-details">
        <div class="ss-b-h-ud-name">
          <h5>worldhopp.com_</h5>
        </div>
        <div class="ss-b-h-ud-actions">
          <button class="btn-follow" type="button">
            <a href="https://www.instagram.com/worldhopp.com_/" target="_blank" rel="noopener">Seguir</a>
          </button>
          <button class="btn-others" type="button">v</button>
        </div>
      </div>
    </div>
    <div class="ss-b-description">
      <h6>WorldHopp</h6>
      <p>Estudia, trabaja, viaja y descubre:<br />👉 Malta<br />👉 Irlanda<br />👉 Nueva Zelanda<br />Gana una beca
        para estudiar en Nueva Zelanda 👇👇👇👇</p>
    </div>
    <div class="ss-b-counter">
      <ul>
        <li>
          <span>
            <span>70</span>
            publicaciones
          </span>
        </li>
        <li>
          <span>
            <span>253</span>
            seguidores
          </span>
        </li>
        <li>
          <span>
            <span>47</span>
            seguidos
          </span>
        </li>
      </ul>
    </div>
    <div class="ss-b-display-options">
      <ul>
        <li class="ss-b-do-grip">
          <span></span>
        </li>
        <li class="ss-b-do-tagged">
          <span></span>
        </li>
      </ul>
    </div>
    <div class="ss-b-gallery">
      <div>
        @for (picture of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track picture) {
          <div class="ss-b-g-picture"></div>
        }
      </div>
    </div>
  </div>
  <img class="img-grasshopper" src="img/xxss_solo_grasshopper.svg" alt="" />
</div>
