<div id="footer-content">
  <ul>
    <li class="fc-social-networks">
      <ul>
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-instagram"></i>
        </li>
      </ul>
    </li>
    <li class="fc-legal-notices">
      <ul>
        <li>Términos y condiciones</li>
        <li>Protección de datos</li>
        <li>Cookies</li>
      </ul>
    </li>
    <li class="fc-copyright">
      <p>Copyright | <strong>Worldhopp © 2019</strong></p>
    </li>
  </ul>
</div>
