<div class="hp-btn-goto-contact" [ngClass]="{ 'desktop-version': !isMobile, 'mobile-version': isMobile, 'hide-banner': hideBanner }">
  <a (click)="goToContactForm()" (keydown.enter)="goToContactForm()" role="button" tabindex="0">
    @if (isMobile) {
      <div class="hp-btn-gtc-bottom-bar">
        <div class="hp-btn-gtc-bb-image">
          <div></div>
        </div>
        <div class="hp-btn-gtc-bb-text">
          <p>Te ayudamos a dar el hopp</p>
        </div>
      </div>
    } @else {
      <div class="hp-btn-gtc-btn-image"></div>
    }
  </a>
</div>
