<div id="top-navbar">
  <div class="tnb-social-networks">
    <ul>
      <li>
        <i class="fab fa-facebook-f"></i>
      </li>
      <li>
        <i class="fab fa-instagram"></i>
      </li>
    </ul>
  </div>
  <div class="tnb-main-nav">
    <nav>
      <ul>
        <li class="active">Destinos</li>
        <li>Servicios</li>
        <li><img class="saltamontes" src="../../../assets/img/saltamontes.svg" alt="logo worldhopp"></li>
        <li>Equipo</li>
        <li>Contacto</li>
      </ul>
    </nav>
  </div>
  <div class="tnb-menu">
    <i class="fas fa-bars"></i>
  </div>
</div>
