<div id="top-navbar" (window:scroll)="handleScroll()" [ngClass]="{ 'scroll-is-up': scrollIsUp }">
  <div class="tnb-social-networks">
    <ul>
      <li>
        <a target="_new" href="https://www.facebook.com/worldhopp/"> <i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a target="_new" href="https://www.instagram.com/worldhopp.com_/"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
  <div class="tnb-main-nav">
    <nav>
      <ul>
        <ng-container *ngIf="anchors.length > 0; then printAnchors; else printOnlyLogo"></ng-container>
        <ng-template #printAnchors>
          <ng-container *ngFor="let anchor of anchors; let num = index">
            <ng-container *ngIf="printLogo(num, anchors.length)">
              <li id="worldhopp-logo" class="logo">
                <img class="logo-image" src="../../../assets/img/saltamontes.svg" />
              </li>
            </ng-container>
            <li [attr.id]="(anchor['id']) ? 'link-' + anchor.id : ''">
              <a (click)="goTo(anchor.section)">{{ anchor.name }}</a>
            </li>
          </ng-container>
        </ng-template>
        <ng-template #printOnlyLogo>
          <li id=" worldhopp-logo" class="logo">
            <img class="logo-image" src="../../../assets/img/saltamontes.svg" />
          </li>
        </ng-template>
      </ul>
    </nav>
  </div>
  <div class="tnb-menu">
    <i class="fas fa-bars"></i>
  </div>
</div>
