@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir_ff/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir_ff/AvenirLTStd-Medium.woff') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir_ff/AvenirLTStd-Heavy.woff') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../fonts/avenir_ff/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
