<div
  #cardsElement
  class="cards-box"
  [style.transform]="isMobile ? 'translateX(-' + (currentSlider * sliderWidth) + 'px)' : null"
  (pointerdown)="onPointerDown($event)"
  (pointerup)="onPointerUp($event)"
>
  @for (card of cards; track $index; let index = $index) {
    <div class="cb-card-box" (click)="onCardClick(index)">
      @if (card.icon !== undefined) {
        <div class="cb-cb-icon">
          <img [src]="card.icon" [alt]="setAttrAlt(card.icon)" loading="lazy" />
        </div>
      }
      @if (card.title !== undefined || card.text !== undefined) {
        <div class="cb-cb-texts">
          @if (card.title !== undefined) {
            <h4>{{ card.title }}</h4>
          }
          @if (card.text !== undefined) {
            <p>{{ card.text }}</p>
          }
        </div>
      }
    </div>
  }
</div>
