<div class="slider-container">
  <div class="slider-list" [style.transform]="'translateX(-' + currentSlider * 100 + '%)'">
    @for (slider of sliderList; track $index; let index = $index) {
      <div
        class="slider-item"
        [ngClass]="{ 'current-slider': currentSlider === index }"
        [attr.data-slider-index]="index"
        [style.background-image]="'url(' + slider.img + ')'"
        (click)="goTo(index)"
      ></div>
    }
  </div>
  @if (dots && sliderList.length > 4) {
    <div class="slider-dots">
      <ul>
        @for (slider of sliderList; track $index; let index = $index) {
          <li [ngClass]="{ 'current-slider': currentSlider === index }" (click)="goTo(index)"></li>
        }
      </ul>
    </div>
  }
</div>
