<section class="hp-s3-reasons" appReveal>
  <div class="hp-s3-10-reasons-box">
    <div class="hp-s3-10rb-image" (click)="toggleShowSideBar()" role="button" tabindex="0"
      (keydown.enter)="toggleShowSideBar()" aria-label="Abrir 10 razones para dar el hopp"></div>
    <h2 class="worlhopp-name">world<span class="hopp-name">hopp</span></h2>
    <p>Te seguimos en tu aventura</p>
    <button type="button" class="btn btn-primary" (click)="goToContactForm()">¿Te falta un HOPP?</button>
  </div>
  <app-hp-text-container [subtitle]="content.subtitle" [title]="content.title" [paragraph]="content.paragraph">
  </app-hp-text-container>
  <img src="img/never-alone.png" srcset="img/never-alone@2x.png 2x, img/never-alone@3x.png 3x" alt="never-alone.png" />
</section>

@if (showSideBar) {
  <app-hp-sidebar-do-you-lack-a-hopp [cards]="sidebarCards" (actionToExport)="handleActions($event)">
  </app-hp-sidebar-do-you-lack-a-hopp>
}
