.hp-s3-reasons {
  /* padding: 60px 2% 0px 2%; */
  padding: 0px 2% 0px 2%;
}

.hp-s3-reasons .hp-s3-10-reasons-box {
  margin: 80px auto;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.hp-s3-reasons .hp-s3-10-reasons-box .hp-s3-10rb-image {
  width: 128px;
  height: 128px;
  margin: 15px auto;
  border-radius: 100%;
  box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.14);
  background-color: #c2c2c2;
  background-image: url('../../../../../public/img/dar-el-hopp.svg');
  background-position: 50% 44%;
  background-repeat: no-repeat;
  background-size: 150%;
  display: block;
  cursor: pointer;
}

.hp-s3-reasons .hp-s3-10-reasons-box p {
  font-size: 18px;
}

.hp-s3-reasons img {
  width: 480px;
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: -70px;
  display: block;
  pointer-events: none;
}

.hp-s3-reasons .worlhopp-name {
  font-size: 62px;
  line-height: 1.2;
}

.hp-s3-reasons .worlhopp-name>span {
  color: #1686F7;
}

.hp-s3-reasons .worlhopp-name>span::after {
  width: 10px;
  height: 10px;
  background-color: yellow;
}

@media only screen and (max-width: 560px) {
  .hp-s3-reasons .worlhopp-name {
    font-size: 48px;
  }

  .hp-s3-reasons img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
