<div class="sidebar-container" (click)="closeSideBar()" [ngClass]="{'hide-sidebar': hideSideBar}">
  <div class="sidebar" (click)="stopPropagation($event)" (scroll)="scrollEffects($event)">
    <div class="sb-header" #sbHeader>
      <div #sbHeaderTitle>
        <h2 class="worlhopp-name">world<span class="hopp-name">hopp</span></h2>
        <p>Cambiamos <strong>sueños por planes</strong></p>
      </div>
      <img src="../../../../assets/img/wave.1.svg" alt="" />
    </div>
    <div class="sb-body">
      <div class="sb-b-description">
        <img src="../../../../assets/img/grasshopper_yellow_line.svg" alt="" />
        <h3>¿Te falta un Hopp?</h3>
        <p>Desde WorldHopp y nuestra comunidad de WorldHoppers te damos <strong>10 motivos</strong> de sobras para que
          nuestros viajeros se inpiren y den el Hopp</p>
      </div>
      <div class="sb-b-cards-list">
        <ng-container *ngFor="let card of cards; let num = index">
          <div class="card">
            <div class="card-header" [style.background-image]="'url('+ card.image +')'">
              <h4>{{ (num + 1) }}. {{ card.title }}</h4>
            </div>
            <div class="card-body">
              <p>{{ card.text }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="sb-footer">
      <div class="sb-f-container">
        <img src="../../../../assets/img/paper_plane.svg" alt="" />
        <h3>¿Te hemos convencido?</h3>
        <p>Vive, estudia y trabaja en el extranjero</p>
        <button type="button" class="btn btn-primary btn-lg" (click)="goToContact()">DAR EL HOPP</button>
      </div>
    </div>
  </div>
</div>
