<div id="home-page">
  <div class="hero">
    <h1>worldhopp</h1>
  </div>

  <div class="container">
    <section class="hp-s2-our-fates">
      <div class="mask"><img src="../../../assets/img/path2-left-green.svg" class="hp-s2-green-left-path"> </div>
      <svg class="jelly-circle-svg" width="1000" height="600" style="display: none">
        <path d="m500 250c27.614 0 50 22.386 50 50s-22.386 50-50 50-50-22.386-50-50 22.386-50 50-50z"/>
        <!-- You can have multiple paths -->
    </svg>
    <!-- Canvas to draw the shape -->
<!-- Note that the `svg` and `canvas` elements have the same dimensions -->
<canvas class="jelly-circle-canvas" width="1000" height="600"></canvas>
      <app-hp-text-container [subtitle]="sections.fates.subtitle" [title]="sections.fates.title"
        [paragraph]="sections.fates.paragraph">
      </app-hp-text-container>
      <app-hp-gallery-paralax [gallery]="sections.fates.gallery"></app-hp-gallery-paralax>
    </section>

    <section class="hp-s3-reasons">
      <div class="hp-s3-10-reasons-box">
        <div class="hp-s3-10rb-image">
          <div></div>
        </div>
        <h2 class="worlhopp-name">world<span class="hopp-name">hopp</span></h2>
        <p>Te seguimos en tu aventura</p>
        <button type="button" class="btn btn-primary">¿Te falta un HOPP?</button>
      </div>
      <app-hp-text-container [subtitle]="sections.reasons.subtitle" [title]="sections.reasons.title"
        [paragraph]="sections.reasons.paragraph">
      </app-hp-text-container>
      <img src="../../../assets/img/never_alone.PNG" />
    </section>
  </div>

  <div class="container">
    <section class="hp-s4-services">
      <app-hp-text-container [subtitle]="sections.services.subtitle" [title]="sections.services.title"
        [paragraph]="sections.services.paragraph">
      </app-hp-text-container>
      <app-hp-cards-paralax></app-hp-cards-paralax>
    </section>

    <section class="hp-s5-steps-to-follow">
      <app-hp-text-container [subtitle]="sections.stepsToFollow.subtitle" [title]="sections.stepsToFollow.title"
        [paragraph]="sections.stepsToFollow.paragraph">
      </app-hp-text-container>
      <app-hp-gallery-paralax [gallery]="sections.stepsToFollow.gallery"></app-hp-gallery-paralax>
    </section>

    <section class="hp-s6-experiences">
      <div class="hp-s6-experiences-box">
        <h2 class="worlhopp-name">world<span class="hopp-name">hopp</span></h2>
      </div>
      <app-hp-text-container [subtitle]="sections.experiences.subtitle" [title]="sections.experiences.title"
        [paragraph]="sections.experiences.paragraph">
      </app-hp-text-container>
      <app-hp-slider-experiences [sliderList]="sections.experiences.slider"></app-hp-slider-experiences>
    </section>

    <section class="hp-s7-team">
      <app-hp-text-container [subtitle]="sections.team.subtitle" [title]="sections.team.title"
        [paragraph]="sections.team.paragraph">
      </app-hp-text-container>
      <app-hp-gallery-paralax [gallery]="sections.team.gallery"></app-hp-gallery-paralax>
    </section>

    <section class="hp-s8-learn-english">
      <div class="hp-s8-le-box">
        <h2 class="worlhopp-name">world<span class="hopp-name">hopp</span></h2>
        <img src="../../../assets/img/how_are_you.PNG" />
      </div>
      <app-hp-text-container [title]="sections.learnEnglish.title" [paragraph]="sections.learnEnglish.paragraph">
      </app-hp-text-container>
    </section>
  </div>

  <div class="hp-btn-goto-contact">
    <div></div>
  </div>
</div>
