<div class="slider-container">
  <div
    class="slider-list"
    [class.is-animating]="!dragging"
    [style.transform]="dragging && dragDelta !== 0 ? 'translateX(calc(-' + currentSlider * 100 + '% + ' + dragDelta + 'px))' : 'translateX(-' + currentSlider * 100 + '%)'"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp()"
    (pointercancel)="onPointerUp()"
  >
    @for (slider of sliderList; track $index; let index = $index) {
      <div
        class="slider-item"
        [ngClass]="{ 'current-slider': currentSlider === index }"
        [attr.data-slider-index]="index"
        [appLazyBg]="slider.photo"
      >
        @if (slider.user !== '' || slider.comment !== '') {
          <div class="si-comment">
            <div>
              @if (slider.nombre !== '') {
                <p class="si-nombre">{{ slider.nombre }}</p>
              }
              @if (slider.origen !== '') {
                <span>{{ slider.origen }}</span>
              }
              @if (slider.origen !== '' && slider.destino !== '') {
                <span class="arrow">&#8594;</span>
              }
              @if (slider.destino !== '') {
                <span>{{ slider.destino }}</span>
              }
              @if (slider.comment !== '') {
                <p>{{ slider.comment }}</p>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
  @if (sliderList.length > 1) {
    <div class="slider-dots">
      <ul>
        @for (slider of sliderList; track $index; let index = $index) {
          <li [ngClass]="{ 'current-slider': currentSlider === index }" (click)="goTo(index)"></li>
        }
      </ul>
    </div>
  }
</div>
