<div class="slider-container">
  <div [ngClass]="['slider-list', sliderClassName]"
    [ngStyle]="{'transform': 'translateX(-' + (currentSlider * 800) + 'px)'}">
    <ng-container *ngFor="let slider of sliderList; let index = index">
      <div class="slider-item" [ngClass]="{'current-slider': currentSlider === index}" [attr.data-slider-index]="index"
        [style.background-image]="setBgImage(slider?.photo)" (click)="currentSlider = index">
        <ng-container>
          <div class="si-comment">
            <div>
              <h5>{{ slider?.user }}</h5>
              <p>{{ slider?.comment }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="sliderList.length > 1">
    <div class="slider-dots">
      <ul>
        <li *ngFor="let slider of sliderList; let index = index" [ngClass]="{'current-slider': currentSlider === index}"
          (click)="currentSlider = index"></li>
      </ul>
    </div>
  </ng-container>
</div>
