<section id="contact" class="hp-s9-contact" appReveal>
  <img class="paper-moon" src="img/moon.svg" alt="" />
  <img class="paper-plane" src="img/plane.svg" alt="" />
  <app-hp-text-container theme="light" [title]="content.title" [paragraph]="content.paragraph">
  </app-hp-text-container>
  <div class="hp-s9-c-form">
    <form>
      <div class="form-group">
        <label>
          <input type="text" placeholder="Nombre" />
        </label>
        <label>
          <input type="text" placeholder="Apellidos" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="text" placeholder="Email" />
        </label>
        <label class="select-field">
          <select aria-label="Nacionalidad">
            <option selected>Nacionalidad</option>
            @for (item of nationalitiesAvailable; track item) {
              <option>{{ item }}</option>
            }
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="text" placeholder="Teléfono" />
        </label>
      </div>
      <div class="form-group">
        <textarea placeholder="Mensaje"></textarea>
      </div>
      <div class="form-group form-conditions">
        <label>
          <input type="checkbox" />
          <span>Acepto la <a href="">política de privacidad</a></span>
        </label>
      </div>
      <button type="button" class="btn btn-lg btn-secondary-blue">ENVIAR</button>
    </form>
  </div>
  <div #starCanvas class="star-canvas"></div>
  <img class="clouds-left" src="img/clouds_left.svg" alt="" />
  <img class="clouds-right" src="img/clouds_right.svg" alt="" />
</section>

<app-hp-btn-goto-contact></app-hp-btn-goto-contact>
